{% extends 'base.html' %}

{% block title %}
    Donate Blood
{% endblock title %}

{% block content %}

    <div class="donation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-3 text-center text-success">
                    <h2><b>Donate Blood Save Lives</b></h2>
                </div>
                <div class="col-lg-12 mt-3 mb-5 card" style="background-color: rgb(180, 230, 180);">
                    <div class="row">
                        <div class="col-lg-12 pt-3 text-center"><h3><b>Blood Donation Process</b></h3></div>
                        
                        <div class="col-lg-3 m-3 mx-auto text-center">
                            <div class="card mx-auto border-white">
                                <img class="card-img-top" src="/static/img/donation/registration.jpg" height="170px"> 
                                <div class="card-body">
                                <h5 class="card-title">1. Registration</h5>
                                <p>Register yourself as a donar to donate your blood.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m-3 mx-auto text-center">
                            <div class="card mx-auto border-white">
                                <img class="card-img-top" src="/static/img/donation/seeing.jpg" height="170px">
                                <div class="card-body">
                                <h5 class="card-title">2. Seeing</h5>
                                <p>After registration come to the blood bank for checkup.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m-3 mx-auto text-center">
                            <div class="card mx-auto border-white">
                                <img class="card-img-top" src="/static/img/donation/donation.jpg" height="170px">
                                <div class="card-body">
                                <h5 class="card-title">3. Donation</h5>
                                <p>After checkup completion donated your blood.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m-3 mx-auto text-center">
                            <div class="card mx-auto border-white">
                                <img class="card-img-top" src="/static/img/donation/savelife.jpg" height="170px">
                                <div class="card-body">
                                <h5 class="card-title">4. Save Life</h5>
                                <p>Your donation will save people lives.</p>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="col-lg-12 mt-3 mb-4 text-center">
                            <button class="btn btn-primary mt-2"><a href="#viewModalDonate" class="view text-white" style="text-decoration: none;" data-toggle="modal"
                                data-target="#viewModalDonate">Click Here To Register Yourself For Donation</a></button>
                        </div>

                        <!-- donate blood Modal HTML to register -->

                        <div id="viewModalDonate" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 pl-4 mx-auto">
                                                    <input type="hidden" name="feedbackID" value="{{feedback.id}}">
                                                    <h4 class="pb-2">You want to donate free or want to get paid?</h4>
                                                    <p>Select:</p>
                                                    <input type="radio" name="donation" id="free" value="free" required>
                                                    <label for="free">I want to donate for free</label><br>
                                                    <input type="radio" name="donation" id="paid" value="paid" required>
                                                    <label for="paid">I want to get paid</label>
                                                    <p class="text-danger pt-2 pb-2">Note: After completing your registration, come to the blood bank to donate your blood.</p>
                                                    <button class="btn btn-success mt-2 mb-2" type="submit">Confirm Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- donate blood Modal HTML to register end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}