{% extends 'base.html' %}

{% block title %}
    Events
{% endblock title %}

{% block content %}

    <div class="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-3 text-center text-success">
                    <h2><b>Blood Donation Events</b></h2>
                </div>
                <div class="col-lg-12 mt-3 mb-5 card" style="background-color: rgb(180, 230, 180);">
                    <div class="row">

                        {% for event in event %}
                        <div class="col-lg-4 mx-auto m-5 text-center">
                            <div class="card mx-auto border-white" style="width: 18rem;">
                                <img class="card-img-top" src="/media/{{event.photo}}" alt="event image" height="250px">
                                <div class="card-body">
                                  <h5 class="card-title">{{event.title}}</h5>
                                  <h6 class="text-secondary">Event Date: {{event.event_date}}</h6>

                                  <button class="btn btn-primary mt-2"><a href="#viewModal{{event.id}}" class="view text-white" style="text-decoration: none;" data-toggle="modal"
                                  data-target="#viewModal{{event.id}}">View Detail</a></button>

                                </div>
                            </div>
                        </div>

                        <!-- Event Details Modal HTML -->

                        <div id="viewModal{{event.id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="event" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-5 p-2 text-center">
                                                    <img src="/media/{{event.photo}}" alt="event detail img" height="300px">
                                                </div>
                                                <div class="col-lg-7 pl-4">
                                                    <input type="hidden" name="eventID" value="{{event.id}}">
                                                    <h4 class="pb-2">Event Title: {{event.title}}</h4>
                                                    <h6>Organized By: {{event.organized_by}}</h6>
                                                    <h6 class="text-secondary">Event Date: {{event.event_date}}</h6>
                                                    <h6 class="text-secondary">Event Time: {{event.event_time}}</h6>
                                                    <h6 class="text-secondary">Event Address: {{event.address}}</h6>
                                                    
                                                    <h6 class="text-secondary">Total Registration: {{count.count}}</h6>
                                                    
                                                    <p class="text-justify pt-2 pb-3"><i>{{event.description}}</i></p>
                                                    <p class="text-danger">Register yourself as a donor in this event.</p>
                                                    <button class="btn btn-success mb-2" type="submit">Click Here</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}