{% extends 'base.html' %}

{% block title %}
    Find Donor
{% endblock title %}

{% block content %}

    <div class="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-3 text-center text-success">
                    <h2><b>Find Donor</b></h2>
                </div>
                <!-- this section is about the search filter to find donor -->
                <div class="col-lg-12 mt-3">
                    <div class="row">
                        <div class="col-lg-10 bg-secondary pt-3 pb-4 text-white mx-auto">
                            <form role="search" action="find_donor">
                                <div class="row">   
                                    <div class="col-lg-5">
                                        <label for="city">Select City: </label>
                                        <select name="city" id="city" class="form-control" required>
                                            <option default value="">Select</option>
                                            {% for city in city %}
                                            <option value="{{city.name}}">{{city.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-5">
                                        <label for="blood">Select Blood Group: </label>
                                        <select name="blood" id="blood" class="form-control" required>
                                            <option default value="">Select</option>
                                            {% for blood in blood %}
                                            <option value="{{blood.group}}">{{blood.group}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-success mt-3 p-3"><b>Find Donor</b></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- this section is for showing donors list -->
                <div class="col-lg-12 mt-3 mb-5 card" style="background-color: rgb(180, 230, 180);">
                    <div class="row">

                        {% if not request.GET %}
                        <div class="col-lg-12 mt-2 mb-2 text-center">
                            <h4>Donors List</h4>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-hover text-center">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th scope="col">Donor Name</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Blood Group</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for donor in donor %}
                                    <tr>
                                        <th scope="row">{{donor.first_name}} {{donor.last_name}}</th>
                                        <td>{{donor.city}}</td>
                                        <td>{{donor.blood}}</td>
                                        <td>
                                            <button class="btn btn-primary"><a href="#viewModal{{donor.id}}" class="view text-white" style="text-decoration: none;" data-toggle="modal"
                                            data-target="#viewModal{{donor.id}}">View</a></button>
                                        </td>
                                    </tr>

                                    <!-- donor Details Modal HTML -->

                                    <div id="viewModal{{donor.id}}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="find_donor" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 pl-4 mx-auto">
                                                                <input type="hidden" name="donorID" value="{{donor.id}}">
                                                                <h4 class="pb-2">Donor Name: {{donor.first_name}} {{donor.last_name}}</h4>
                                                                <h6 class="">Blood Group: {{donor.blood}}</h6>
                                                                <input type="hidden" name="blood" value="{{donor.blood}}">
                                                                <h6 class="pb-3">From City: {{donor.city}}</h6>
                                                                <textarea name="message" id="message" cols="78" rows="3" placeholder="write message"></textarea>
                                                                <button class="btn btn-success mt-2 mb-2" type="submit">Send Request & Get Contact Number</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </tbody>
                            </table>            
                        </div>

                        {% else %}
                        <div class="col-lg-12 mt-2 mb-2 text-center">
                            <h4>Donors List From City: {{request.GET.city}} & Blood Group: {{request.GET.blood}}</h4>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-hover text-center">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th scope="col">Donor Name</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Blood Group</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for donor in donor %}
                                    <tr>
                                        <th scope="row">{{donor.first_name}} {{donor.last_name}}</th>
                                        <td>{{donor.city}}</td>
                                        <td>{{donor.blood}}</td>
                                        <td>
                                            <button class="btn btn-primary"><a href="#viewModal{{donor.id}}" class="view text-white" style="text-decoration: none;" data-toggle="modal"
                                            data-target="#viewModal{{donor.id}}">View</a></button>
                                        </td>
                                    </tr>

                                    <!-- donor Details Modal HTML -->

                                    <div id="viewModal{{donor.id}}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="find_donor" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 pl-4 mx-auto">
                                                                <input type="hidden" name="donorID" value="{{donor.id}}">
                                                                <h4 class="pb-2">Donor Name: {{donor.first_name}} {{donor.last_name}}</h4>
                                                                <h6 class="">Blood Group: {{donor.blood}}</h6>
                                                                <input type="hidden" name="blood" value="{{donor.blood}}">
                                                                <h6 class="pb-3">From City: {{donor.city}}</h6>
                                                                <textarea name="message" id="message" cols="78" rows="3" placeholder="write message"></textarea>
                                                                <button class="btn btn-success mt-2 mb-2" type="submit">Send Request & Get Contact Number</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </tbody>
                            </table>       
                        </div>

                        {% endif %}  

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}