{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

    <div class="" style="background-image: url('/static/img/img3.png'); background-repeat: no repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5 mb-5"></div>
                <div class="col-lg-12 mt-5 mb-5"></div>
                <div class="col-lg-6 mx-auto mt-5 mb-5 text-center text-white border border-white border-left-0 border-top-0 border-bottom-0">
                    <h3><b>Donate blood Save lives.</b></h3>
                    <button type="submit" class="btn btn-warning mt-4"><b>Donate Now</b></button>
                </div>
                <div class="col-lg-6 mx-auto mt-5 mb-5 text-center text-white">
                    <h3><b>Any Emergency?</b></h3>
                    <button type="submit" class="btn btn-warning mt-4"><a style="text-decoration: none; color: black;" href="{% url 'blood_bank' %}"><b>Need Blood</b></a></button>
                </div>
                <div class="col-lg-12 mt-5 mb-5"></div>
                <div class="col-lg-12 mt-5 mb-5"></div>
                <div class="col-lg-12 mt-5 mb-5"></div>
            </div>
        </div>
    </div>

{% endblock content %}